parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/DevMcp/
        - tests/Inspector/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#Method Luoyue\\\\WebmanMcp\\\\Command\\\\QuestionHelper::handleQuestions\\(\\) has parameter \\$questions with no value type specified in iterable type array#"
            path: src/Command/QuestionHelper.php
        -
            message: "#no value type specified in iterable type array#"
            path: tests/phpunit/console/CommandTest.php