<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         testdox="true"
         bootstrap="tests/Bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/phpunit/server</directory>
            <directory>tests/phpunit/devmcp</directory>
            <directory>tests/phpunit/console</directory>
            <directory>tests/phpunit/runner</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/config</directory>
            <directory>src/Exception</directory>
            <file>src/Install.php</file>
        </exclude>
    </source>
</phpunit>