name: pipeline
on: pull_request

permissions:
  contents: read
  pull-requests: write

jobs:
  conformance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Composer
        uses: ramsey/composer-install@v3

      - name: Start conformance server
        run: php tests/Conformance/server.php start -d

      - uses: modelcontextprotocol/conformance@v0.1.11
        with:
          mode: server
          suite: all
          verbose: true
          url: http://localhost:8000/mcp
          expected-failures: ./tests/Conformance/conformance-baseline.yml # optional

      # - name: Upload conformance results
      #   if: always()
      #   uses: actions/upload-artifact@v6
      #   with:
      #     name: conformance-results
      #     path: ./results
  qa:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: "none"

      - name: Composer Validation
        run: composer validate --strict

      - name: Install Composer
        uses: ramsey/composer-install@v3

      - name: Code Style PHP
        run: vendor/bin/php-cs-fixer fix --dry-run

#      - name: PHPStan
#        run: vendor/bin/phpstan analyse